:root {
    // v1
    // --brandColorDark: rgba(197, 142, 138, 1);
    // --brandColor: rgba(225, 162, 157, 1);
    // --brandColorLight: rgba(233, 186, 183, 1);
    // --brandColorLight_50: rgba(233, 186, 183, 0.5);
    // --brandColorLight_30: rgba(233, 186, 183, 0.3);
    // --brandColorLight_10: rgba(233, 186, 183, 0.1);

    // v2
    --brandColorDark: rgba(200, 155, 150, 1);
    --brandColor: rgba(220, 178, 173, 1);
    --brandColorLight: rgba(237, 208, 204, 1);
    --brandColorLight_50: rgba(237, 208, 204, 0.5);
    --brandColorLight_30: rgba(237, 208, 204, 0.3);
    --brandColorLight_10: rgba(237, 208, 204, 0.1);

    // v3
    // --brandColorDark: rgba(195, 155, 155, 1);
    // --brandColor: rgba(215, 180, 180, 1);
    // --brandColorLight: rgba(234, 210, 210, 1);
    // --brandColorLight_50: rgba(234, 210, 210, 0.5);
    // --brandColorLight_30: rgba(234, 210, 210, 0.3);
    // --brandColorLight_10: rgba(234, 210, 210, 0.1);



    --whiteColor: #ffffff;


    --darkColor: #1A1A1A;

    --greyDarkColor: #666666;
    --greyColor: #dcdcdc;
    --greyLightColor: #f3f3f3;
}