:root {

    --brandColorDark: rgba(197, 142, 138, 1);
    --brandColor: rgba(225, 162, 157, 1);
    --brandColorLight: rgba(233, 186, 183, 1);
    --brandColorLight_50: rgba(233, 186, 183, 0.5);
    --brandColorLight_30: rgba(233, 186, 183, 0.3);
    --brandColorLight_10: rgba(233, 186, 183, 0.1);


    --whiteColor: #ffffff;


    --darkColor: #1A1A1A;

    --greyDarkColor: #666666;
    --greyColor: #dcdcdc;
    --greyLightColor: #f3f3f3;
}