.button {
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, opacity 0.2s;
  text-decoration: none;
  outline: none;
}

.main {
  background: var(--brandColor);
  color: var(--whiteColor);

  &:hover:not(.disabled) {
    background: var(--brandColorDark);
  }
}

.secondary {
  background: var(--whiteColor);
  color: var(--brandColor);
  border: 1px solid var(--brandColor);

  &:hover:not(.disabled) {
    background: var(--brandColorLight_10);
  }
}

.small {
  font-size: 14px;
  padding: 0.5rem 1.125rem;
}

.medium {
  font-size: 16px;
  padding: 0.75rem 1.5rem;
}

.large {
  font-size: 18px;
  padding: 1rem 2rem;
}

.disabled,
.button[disabled],
.button[aria-disabled=true] {
  opacity: 0.55;
  cursor: not-allowed;
  pointer-events: none;
}