@use "@/project/styles/index" as *;

.wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.25rem 0;
    background-color: var(--whiteColor);
    z-index: 9;
    border-bottom: 1px solid var(--greyLightColor);
    @include headerMainHeight;
}

.container {
    @include containerMain;
}

.row {
    display: flex;
    align-items: center;
}

.rowBetween {
    justify-content: space-between;
}

.lineVertical {
    height: 1.125rem;
    width: 1px;
    background-color: var(--greyColor);
    margin: 0 1rem;
}

.menuBurger {
    color: var(--darkColor);
    stroke: var(--darkColor);
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;

    &:hover {
        color: var(--greyDarkColor);
        stroke: var(--greyDarkColor);
    }
}

.menuBurgerSvg {
    width: 1.125rem;
    height: 1.125rem;
    margin-left: 0.125rem;
    stroke: inherit;
}