@use 'sass:map';

$breakpoints: (
    min: 0,
    mini: 375px,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xsl: 1400px,
    xxl: 1600px,
    hd: 1921px,
) !default;

@function getBr($size, $min: false) {
    $breakpoint: map.get($breakpoints, $size);
    @if $breakpoint {
        @if $min {
            @return ($breakpoint - 0.02);
        }
        @return $breakpoint;
    }
    @return null;
}

@mixin responsive($maxWidth: false, $minWidth: false) {
    @if $maxWidth {
        @if $minWidth {
            @media (max-width: getBr($maxWidth, true)) and (min-width: getBr($minWidth)) {
                @content;
            }
        } @else {
            @media (max-width: getBr($maxWidth, true)) {
                @content;
            }
        }
    } @else if $minWidth {
        @media (min-width: getBr($minWidth)) {
            @content;
        }
    }
}

@mixin media-custom($type, $breakpoint) {
    @if $type== 'min' {
        @media (min-width: $breakpoint) {
            @content;
        }
    } @else if $type== 'max' {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

@mixin min-mini() {
    @media (min-width: getBr('mini')) {
        @content;
    }
}

@mixin max-mini() {
    @media (max-width: getBr('mini', true)) {
        @content;
    }
}

@mixin media-mini() {
    @media (min-width: getBr('mini')) and (max-width: getBr('xs', true)) {
        @content;
    }
}

@mixin min-xs() {
    @media (min-width: getBr('xs')) {
        @content;
    }
}

@mixin max-xs() {
    @media (max-width: getBr('xs', true)) {
        @content;
    }
}

@mixin media-xs() {
    @media (min-width: getBr('xs')) and (max-width: getBr('sm', true)) {
        @content;
    }
}

@mixin min-sm() {
    @media (min-width: getBr('sm')) {
        @content;
    }
}

@mixin max-sm() {
    @media (max-width: getBr('sm', true)) {
        @content;
    }
}

@mixin media-sm() {
    @media (min-width: getBr('sm')) and (max-width: getBr('md', true)) {
        @content;
    }
}

@mixin min-md() {
    @media (min-width: getBr('md')) {
        @content;
    }
}

@mixin max-md() {
    @media (max-width: getBr('md', true)) {
        @content;
    }
}

@mixin media-md() {
    @media (min-width: getBr('md')) and (max-width: getBr('lg', true)) {
        @content;
    }
}

@mixin min-lg() {
    @media (min-width: getBr('lg')) {
        @content;
    }
}

@mixin max-lg() {
    @media (max-width: getBr('lg', true)) {
        @content;
    }
}

@mixin media-lg() {
    @media (min-width: getBr('lg')) and (max-width: getBr('xl', true)) {
        @content;
    }
}

@mixin min-xl() {
    @media (min-width: getBr('xl')) {
        @content;
    }
}

@mixin max-xl() {
    @media (max-width: getBr('xl', true)) {
        @content;
    }
}

@mixin media-xl() {
    @media (min-width: getBr('xl')) and (max-width: getBr('xxl', true)) {
        @content;
    }
}

@mixin min-xsl() {
    @media (min-width: getBr('xsl')) {
        @content;
    }
}

@mixin max-xsl() {
    @media (max-width: getBr('xsl', true)) {
        @content;
    }
}

@mixin media-xsl() {
    @media (min-width: getBr('xsl')) and (max-width: getBr('xxl', true)) {
        @content;
    }
}

@mixin min-xxl() {
    @media (min-width: getBr('xxl')) {
        @content;
    }
}

@mixin max-xxl() {
    @media (max-width: getBr('xxl', true)) {
        @content;
    }
}

@mixin media-xxl() {
    @media (min-width: getBr('xxl')) and (max-width: getBr('hd', true)) {
        @content;
    }
}

@mixin min-hd() {
    @media (min-width: getBr('hd')) {
        @content;
    }
}

@mixin max-hd() {
    @media (max-width: getBr('hd', true)) {
        @content;
    }
}