@use "@/project/styles/index" as *;

.wrapper {
    position: relative;
}


.dropdown {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    border: 1px solid var(--greyColor);
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 10;
    animation: fadeIn 0.15s ease;
    min-width: 140px;


    &::after {
        content: "";
        font-size: var(--greyColor);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid var(--greyColor);
    }
}

.option {
    text-align: center;
    transition: background 0.2s ease;

    &:first-child {
        border-radius: 0.4rem 0.4rem 0 0;
    }

    &:last-child {
        border-radius: 0 0 0.4rem 0.4rem;
    }
}

.optionActive {
    background: var(--greyColor);
}

.option a {
    text-decoration: none;
    color: var(--darkColor);
    display: block;
    padding: 0.75rem;
}

.option:hover {
    background: var(--greyLightColor);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -0.5rem);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}