@use 'variables' as *;
@use 'mixins' as *;

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: $container-padding-desktop;
  padding-right: $container-padding-desktop;

  @include respond-to('desktop') {
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }

  @include respond-to('tablet') {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }
}
